/* .tempImg {
  width: 30%;
  position: relative;
  padding-bottom: 25%;
  background-size: cover;
  background-position: center;
}
.tempImgWrap {
  display: flex;
  flex-wrap: wrap;
}

.tempImgWrap .loader {
  background: #f7f7f7;
}
.tempImg.loader img {
  position: absolute;
  width: 90px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.removeImg {
  position: absolute;
  right: 0;
  top: 0;
} */
